.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  /* background-color: #2196F3; */
  background-color:black;
  padding: 10px;
  width: 900px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 18px;
  /* text-align: center; */
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.stale {
  background-color: orange;
}

.connected {
  background-color: limegreen;
}
