#edict-stream {
    position: absolute;
    background-color: #2a353b;
    color: #9c9d9e;
    /* padding: 5px 20px 20px 20px; */
    padding: 0px 0px 10px 0px;
    /* padding: 0; */
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 30px;
    width: 400px;
    height: 1700px;
    opacity: 0.8;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.5);

    font-size: 17px;
}