<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/toggle-button.css">
    <script>
        const user_id = <%= UID %>
    </script>
</head>

<body>

    <div id="flash-header">
        Welcome home!
    </div>

    <div id="footer">
        <div id="version">
            <%= VERSION %>
        </div>

        <div id="connection-details">
            Connected to server!
        </div>
    </div>


Connection status:
<div id="cid"></div>
<br /><br />

Flash broadcasts received from server:
<div id="flashes_received"></div>
<br /><br />

Ping status:
<div id="ping"></div>
<br /><br />

clientMap:
<div id="clientMap"></div><br />

Broadcast flash message to all clients:<br />
<textarea rows="4" cols="50" id="flash_broadcast" name="flash_broadcast">Greetings, clients!</textarea>
<br /><br />

<button id="btn_broadcast" type="button" onclick="broadcast_flash()">Broadcast flash to selected clients!</button>
<br /><br />

<hr />
<br /><br />

<h1>Auto-Prune-Zombie Clients:</h1>
(Enabling this will automatically heartbeat ping all connected endpoints periodically.<br />
Any clients that don't pong back will be marked stale and pruned from the server-side client map.)<br />
<label class="switch">
    <input type="checkbox" id="toggleButton" onclick="javascript:toggle()" />
    <div class="slider round"></div>
</label>
<br />

<textarea rows="14" cols="100" id="console"></textarea>
<br /><br />

<hr />
<br /><br />

<h1>EdictStream:</h1>
<div id="edicts"></div>
<br /><br />

<a href="javascript:request_client_heartbeats();">Request heartbeat from all clients.</a>
<br /><br />

</body>

<script src="/js/util.js"></script>
<script src="/js/client.js"></script>
<script src="/js/admin.js"></script>

<html>
