<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <link rel="stylesheet" href="/css/admin.css">
  <script src="/js/admin.js"></script>
</head>

<body>

Connection status:
<div id="cid"></div>
<br /><br />

Ping status:
<div id="ping"></div>
<br /><br />

Clients:
<div id="clients"></div>
<br /><br />

EdictStream:
<div id="edicts"></div>
<br /><br />


</body>

<html>
