<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <script src="js/dash.js"></script>
</head>

<body>

user id: <%= req.query.id %><br />
otp: <%= req.query.otp %>

<h2>User Info</h2>

<h2>List of Leaders You're Following</h2>

<h2>List of Constituents Following You</h2>

<h2>Edicts Your Leaders have Promulgated</h2>

<h2>Edicts You have Promulgated</h2>

---

<h2>Your Favorite Edicts</h2>

<h2>Your Favorite Leaders</h2>

<h2>Your Favorite Constituents</h2>

---<br /><br />

[Edict text area goes here.]<br />
[Big red "Promulgate!" button goes here.]

</body>
</html>
