<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <script src="js/dash.js"></script>
</head>

<body>

USER id: <%= query.id %><br />
otp: <%= query.otp %>

<h2>User Info</h2>

<h2>List of Leaders You're Following</h2>

<h2>List of Constituents Following You</h2>

<h2>Edicts Your Leaders have Promulgated</h2>

<h2>Edicts You have Promulgated</h2>
<ul class='edicts'>
    <div id='edicts'></div>
</ul>

---

<h2>Your Favorite Edicts</h2>

<h2>Your Favorite Leaders</h2>

<h2>Your Favorite Constituents</h2>

---<br /><br />

<label for="law">State your decree to all citizens of your land:</label><br />
<textarea rows="4" cols="50" id="law" name="law">
Hear, hear-- I decree my first edict!
</textarea><br /><br />

<a href="javascript:promulgate();">Promulgate!</a>
<br /><br />

<div id="msg_area"></div>

</body>
</html>
