<!DOCTYPE html>
<html>
<head>
  <title>Home | HEPSYS</title>
  <link rel="stylesheet" href="css/general.css">
  <link rel="stylesheet" href="css/home.css">
</head>

<body>

    <div id="main-menu">
        <div class="title-bar"><a href="javascript:goHome();">Holy Edict Promulgation System</a></div>
        <ul class="menu">
            <div id="menu"></div>
        </ul>
    </div>

    <!-- <div id="edict-stream">
        <div class="title-bar"><a href="#">📜 Unified Edict Stream</a></div>
    </div> -->


    <div id="edicts"></div>
    
    <div id="flash-header">
        Welcome home!
    </div>

    <div id="footer">
        Build 0.0.2 | Tuesday - August 25, 2020
    </div>

</body>

<script src="js/home.js"></script>
</html>
