<!DOCTYPE html>
<html>
<head>
  <title>Home | HEPSYS</title>
  <link rel="stylesheet" href="css/general.css">
  <link rel="stylesheet" href="css/home.css">
</head>

<body>

    <nav id="main-menu">
        <div class="title-bar"><a href="javascript:goHome();">Holy Edict Promulgation System</a></div>
        <ul class="menu">
            <div id="menu"></div>
        </ul>
    </nav>

    <!-- <div id="edict-stream">
        <div class="title-bar"><a href="#">📜 Unified Edict Stream</a></div>
    </div> -->


    <div id="edicts"></div>
    
    <div id="flash-header">
        Welcome home!
    </div>

    <div id="footer">
        <div id="version">
            <%= VERSION %>
        </div>

        <div id="connection-details">
            Connected to server!
        </div>
    </div>


</body>

<script src="js/client.js"></script>
<script src="js/home.js"></script>
</html>
