<!DOCTYPE html>
<html>
<head>
    <title>Rittr (Robert's Twitter Clone Project)</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/analyzer.css">
    <script>
        const user_id = <%= UID %>
    </script>
    <script src="/js/util.js"></script>
    <script src="/js/client.js"></script>
</head>

<body>

    <div id="flash-header">
        Welcome home!
    </div>

    <nav id="main-menu">
        <div class="title-bar">
            <a href="javascript:show_scene(scenes.edictstream_scene);">Rittr (Robert's Twitter Clone Project)</a>
        </div>
        <ul class="menu">
            <div id="menu"></div>
        </ul>
    </nav>

    <% include ../scenes/promulgation_scene.ejs %>

    <div id="bg-fade"></div>

    <% include ../scenes/edictstream_scene.ejs %>
    <% include ../scenes/analyzer_scene.ejs %>

    <div id="footer">
        <div id="version">
            <%= VERSION %>
        </div>

        <div id="connection-details">
            Connected to server!
        </div>
    </div>


</body>

<script src="/js/home.js"></script>
<!-- <script src="/js/scenes/analyzer_scene.js"></script> -->
</html>
